.cover {
    max-width: 74rem;
    min-height: 46.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 1279px) {
    .cover {
        min-height: 40rem;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        min-height: 30rem;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-height: 12.5rem;
    }
}