.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 107%;
    margin: 0 0 40px 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .intro__title {
        max-width: 18rem;
        font-size: 2rem;
        line-height: 109%;
    }
}